<div class="banner">
  <div>
    <span class="title center">Temporada invierno</span>
  </div>
  <div class="content">
    <app-mapeo></app-mapeo>
  </div>
</div>
<h2>Esta temporada</h2>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Primer Elemento del Carrusel -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <!-- Tarjeta 1 -->
          <div class="card m-2" style="width: 18rem;">
            <img src="assets/prenda.jpg" class="card-img-top" alt="prenda 1">
            <div class="card-body">
              <h5 class="card-title">Título 1</h5>
              <p class="card-text">Descripción de la prenda 1.</p>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="card m-2" style="width: 18rem;">
            <img src="assets/prenda2.jpg" class="card-img-top" alt="prenda 2">
            <div class="card-body">
              <h5 class="card-title">Título 2</h5>
              <p class="card-text">Descripción de la prenda 2.</p>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="card m-2" style="width: 18rem;">
            <img src="assets/prenda3.jpg" class="card-img-top" alt="prenda 3">
            <div class="card-body">
              <h5 class="card-title">Título 3</h5>
              <p class="card-text">Descripción de la prenda 3.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Segundo Elemento del Carrusel -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <!-- Tarjeta 4 -->
          <div class="card m-2" style="width: 18rem;">
            <img src="assets/prenda.jpg" class="card-img-top" alt="prenda 4">
            <div class="card-body">
              <h5 class="card-title">Título 4</h5>
              <p class="card-text">Descripción de la prenda 4.</p>
            </div>
          </div>
          <!-- Tarjeta 5 -->
          <div class="card m-2" style="width: 18rem;">
            <img src="assets/prenda2.jpg" class="card-img-top" alt="prenda 5">
            <div class="card-body">
              <h5 class="card-title">Título 5</h5>
              <p class="card-text">Descripción de la prenda 5.</p>
            </div>
          </div>
          <!-- Tarjeta 6 -->
          <div class="card m-2" style="width: 18rem;">
            <img src="assets/prenda3.jpg" class="card-img-top" alt="prenda 6">
            <div class="card-body">
              <h5 class="card-title">Título 6</h5>
              <p class="card-text">Descripción de la prenda 6.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-ofertas></app-ofertas>
  